@using HairSalon.Models;
@model Client;

<h1> Add a new Client</h1>

@using (Html.BeginForm())
{

  @Html.LabelFor(model=>model.Name)
  @Html.TextBoxFor(model=>model.Name)

  @Html.DropDownListFor(model => model.SpecialtyNeeded, new SelectList(Enum.GetValues(typeof(SpecialtyType))),
  "Select Specialty Needed")

  @Html.HiddenFor(model => model.EmployeeId)

  <input type="submit" value="Create" />
}

<p>@Html.ActionLink("Employees List", "Index", "Employee", new { @class = "action-link-button" })</p>

